:root {
    --color-category: #575757;
    --color-text-gray: #272F2D;
    --bg-color-price: rgba(26, 31, 30, 0.54);
}

*, p{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: black;
}

.p-absolute {
    position: absolute;
}

.rem-4 {
    font-size: 2.8rem;
}

.inline-flex {
    display: inline-flex;
}

.nav-container  {
    background-image: url('../images/background.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 140px;
    position: relative;
}

.logo {
    background-image: url('../images/novo_logo.jpeg');
    width: 95px;
    height: 80px;
    background-position: center;
    background-size: cover;
}

/* side menu */
.offcanvas-body {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.offcanvas-end {
    width: 330px;
}

.nav-side-menu {
    border-radius: 0 0 20px 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px #0000008f;
    height: 120px;
}

.account {
    margin-top: auto;
}

.overflow-auto {
    max-width: 100%;
}

.nav-category {
    background-color: var(--color-category) !important;
    scrollbar-width: auto;
    overflow: scroll; 
    white-space: nowrap;
}

.nav-category::-webkit-scrollbar {
    display: none;
}

.label_search {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    padding: 0.5rem;
    border-radius: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search_product:focus {
    outline: none; 
}

/* list all products at homepage */

.container-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.cover-product {
    height: 210px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 7px 7px 10px #00000040;

}

.cover-product img {
    width: 100%;
    height: auto; 
}

.cover-product:hover {
    cursor: pointer;
}

.title-product-position {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.background-title-product {
    background-color: rgba(0, 0, 0, 0.44);
}



/* pagination */

.pag-container {
    bottom: 0;
}


/* detail page */
.container-detail-product {
    height: 400px;
    width: 95%;
}

.info-products h2,
.price p{
    color: var(--color-text-gray);
}

.purchase {
    background-color: var(--color-text-gray);
    min-width: 47%;
    border-radius: 10px 0px 0px 10px;
}

.price {
    background-color: var(--bg-color-price);
    min-width: 15%;
    border-radius: 0px 10px 10px 0px;
}

.description {
    border-top: 1px solid var(--color-category);
}