:root {
    --color-category: #575757;
    --color-text-gray: #272F2D;
    --bg-color-price: rgba(26, 31, 30, 0.54);
}

*, p{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.f-h {
    height: 80vh !important;
    transform: translateY(-13%);
}

.p-absolute {
    position: absolute;
}

.rem-4 {
    font-size: 2.8rem;
}

.inline-flex {
    display: inline-flex;
}

.nav-container  {
    background-image: url('../images/bg-1.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 140px;
    position: relative;
}

.bg-gray {
    height: 44px;
    top: 140px;
    background-color: var(--color-category);
    z-index: -1;
}

.shadow-category {
    box-shadow: 1px 1px 4px 0px black;
}

.logo {
    background-image: url('../images/novo_logo.jpeg');
    width: 95px;
    height: 80px;
    background-position: center;
    background-size: cover;
}

/* side menu */
.offcanvas-body {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.offcanvas-end {
    width: 330px;
}

.nav-side-menu {
    border-radius: 0 0 20px 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px #0000008f;
    height: 120px;
}

.account {
    margin-top: auto;
}

.overflow-auto {
    max-width: 100%;
}

.nav-category {
    background-color: var(--color-category) !important;
    scrollbar-width: auto;
    overflow: scroll; 
    white-space: nowrap;
    border-bottom: 0;
    width: 100%;
}

.nav-category::-webkit-scrollbar {
    display: none;
}

.hover-category:hover {
    cursor: pointer;
}

.label_search {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    padding: 0.5rem;
    border-radius: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search_product:focus {
    outline: none; 
}

.tag-login, .tag-login p {
    text-decoration: none;
    color: black;
}

.tag-login:hover {
    cursor: pointer;
}

.tag-login > .bi-person-circle {
    color: black
}
/* list all products at homepage */

.container-products {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    gap: 5px;
}

.container-products:hover {
    cursor: pointer;
}

.cover-product {
    height: 210px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 7px 7px 10px #00000040;
    transition: transform .2s ease-in-out;
}

.cover-product:hover {
    transform: scale(1.05);
}

.cover-product img {
    width: 100%;
    height: auto; 
}

.cover-product:hover {
    cursor: pointer;
}

.title-product-position {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.background-title-product {
    background-color: rgba(0, 0, 0, 0.44);
}

/* detail page */
.cart-button {
    color: var(--color-text-gray);
    right: 0;
    bottom: 4px;
    transition: transform 0.1s ease-in;
}

.cart-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* delete */
.container-detail-product {
    height: 300px;
    width: 95%;
}

.carousel-inner {
    height: 450px;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    object-fit: fill;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--color-text-gray);
    border: 2px solid var(--color-text-gray);
    border-radius: 50%;
    padding: 10px;
}

.info-products h2,
.price p{
    color: var(--color-text-gray);
}

.purchase {
    background-color: var(--color-text-gray);
    min-width: 47%;
    border-radius: 10px 0px 0px 10px;
}

.price {
    background-color: var(--bg-color-price);
    min-width: 15%;
    border-radius: 0px 10px 10px 0px;
}

.purchase:hover,
.price:hover {
    cursor: pointer;
}

.description {
    border-top: 1px solid var(--color-category);
}

/* register screen */

.btn-register {
    background-color: var(--color-text-gray)!important;
}

.link-login {
    color: #63A9FC;
    text-decoration: underline;
    text-decoration-color: #63A9FC;
}


/* shopCart */

.container-shopcart {
    height: 200px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
}

.cover-image {
    height: 150px;
    width: 300px;
}


.cover-image img{
    height: 100%;
    width: 100%;
}

.border-infos-cart-shop {
    margin-top: 30px !important;
}

/* End shopCart */

@media (min-width: 619px) {

    .container-products {
        grid-template-columns: repeat(3, minmax(190px, 1fr));
        gap: 10px;
    }
}

@media (min-width: 719px) {

    .container-products {
        grid-template-columns: repeat(3, minmax(220px, auto));
        gap: 1.5vw;
    }

    .purchase {
        border-radius: 0.25rem !important;
    }

    .cart-button-tablet {
        background-color: var(--bg-color-price);
    }

    /* form login */
    .form-login {
        width: 70% !important;
    }
     
}


@media (min-width: 900px) {

    .container-products {
        grid-template-columns: repeat(4, minmax(210px, auto));
        gap: 1.1vw;
    }

    .input-search {
        width: 70% !important;
    }

    .carousel-inner {
        height: 500px;
    }

    /* register container */
    .container-register {
        width: 75% !important;
    }

    .btn-register {
        width: 50% !important;
    }

    /* form login */
    .form-login {
        width: 50% !important;
    }
}

@media (min-width: 1100px) {
    /* register container */
    .container-register {
        width: 75% !important;
    }

    /* form login */
    .form-login {
        width: 40% !important;
    }
}

@media (min-width: 1159px) {

    .container-products {
        grid-template-columns: repeat(4, minmax(250px, auto));
        gap: 1.5vw;
    }

    .cover-product {
        height: 250px;
    }

    .carousel-inner {
        height: 550px;
    }


    /* Shop Cart */

    .container-shopcart {
        height: 250px;
        width: 80% !important;
    }


    .cover-image img{
        height: 220px;
        width: 240px;
}

    /* End Shop Cart */

    /* register container */
    .container-register {
        width: 50% !important;
    }
}


@media (min-width: 1350px) {

    .container-products {
        grid-template-columns: repeat(5, minmax(230px, auto));
        gap: 1.5vw;
    }

    .cover-product {
        height: 280px;
    }
}

@media (min-width: 1400px) {
    
    /* nav PC */
    

    .container-category {
        background-color: var(--color-category);
        overflow-y: visible;
    }

    .nav-category {
        width: 94%;
    }
    
    .log-and-cart-pc {
        background-color: var(--color-category);
        width: fit-content;
    }


    .dropdown-toggle::after {
        border: none !important;
    }
    
    .bi-cart-fill {
        cursor: pointer;
    }
    /* nav */

    /* detail */


    .container-detail-descktop {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 95% !important;
        overflow: hidden;
    }

    .carousel-inner {
        width: 600px !important;
    }

    .cover_product {
        width: 600px !important;
    }
    
    .description-pc {
        border: none;
    }

    .infos-pc {
        border-left: 1px solid black;
    }

    /* detail */

    /* Shop Cart */

    .padding-my-cart {
        width: 70%;
    }

    .buy-button {
        transition: all .2s ease-in-out;
    }

    .buy-button:hover {
        transform: scale(1.1);
    }

    .container-shopcart {
        height: 360px;

    }
    .cover-image {
        height: 100%;
        width: 450px;
    }

    .cover-image img {
        border: 1px solid black;
        height: 100%;
        width: 100%;
    }

    .list-infos {
        margin-left: 50px;
    }

    .scroll-description {
        height: 40%;
        overflow-y: scroll;
        overflow-x: hidden;

        
    }

    .scroll-description::-webkit-scrollbar {
        width: 10px;
        height: 12px;
    }
    
    .scroll-description::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    .scroll-description::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 20px;
        border: 3px solid #f1f1f1;
    }

}


@media (min-width: 1700px) {

    .container-products {
        grid-template-columns: repeat(5, minmax(330px, auto));
        gap: 1.5vw;
    }

    .cover-product {
        height: 320px;
    }
}