{% extends "base.html" %}
{% load static %}

{% block nav %}
    {% include "components/nav.html" %}
    {% include "components/search_input.html" %}
{% endblock nav %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success text-center ">
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger text-center ">
            {% endif %}
            
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container-fluid">
        <div class="container-fluid text-center text-xxl-start padding-my-cart d-block  d-xxl-flex justify-content-between align-items-center">
            <h1 class="display-4 pt-4 pb-4">Meu Carrinho</h1>
            <div class="d-flex align-items-center justify-content-center">
                <p class="display-6 pt-4 pb-4 me-3">R$ {{total|floatformat:2}}</p>
                {% if cart|length > 0 %}
                    <button type="button" class="btn btn-warning buy-button">Fechar Pedido</button>
                {% endif %}
            </div>
        </div>
    </div>

    {% for carItem in cart %}
        <div class="center-content d-flex justify-content-lg-center w-100">
            <div class="conteiner container-shopcart w-100 d-flex mb-3 m-2 align-items-center overflow-hidden p-2">
                <div class="cover-image border rounded-3 me-4">
                    <img class="rounded-3" src="{{carItem.product.images.first.images.url}}" alt="">
                </div>

                {% comment %} movile version {% endcomment %}
                <div class="list-infos w-100 h-100 pl-4 d-flex flex-column justify-content-center d-xxl-none">
                    <h2>{{carItem.product.product_name}}</h2>
                    <p class="h5 border-infos-cart-shop mb-4">R$ {{carItem.product.product_price}}</p>
                    <div class="d-flex align-items-center">
                        <p class="h6 m-0 me-md-4">Quantidade {{carItem.quantity}}</p>
                        <button type="button" class="btn btn-outline-secondary ms-3 ps-3 pe-3" data-bs-toggle="modal" data-bs-target="#modalDeleteItem{{ carItem.pk }}">Excluir</button>
                    </div>
                </div>

                {% comment %} mobile version {% endcomment %}

                <div class="list-infos w-50 h-100 pl-4 d-flex flex-column justify-content-center justify-content-xxl-start d-none d-xxl-flex ">
                    <h2 class="mt-5">{{carItem.product.product_name}}</h2>
                    <div class="mt-2 w-75 scroll-description">
                        <p>{{carItem.product.product_description}}</p>
                    </div>
                    <h3 class="mt-5 fs-4" >Quantidade: {{carItem.quantity}}</h3>
                </div>

                <div class="infos-product w-50 h-100 d-none d-xxl-block">
                    <h2 class="mb-4 mt-5">Caracteristicas</h2>

                    <div class="d-flex align-items-center">
                        <p class="h6 m-0 me-md-4">Largura {{carItem.product.product_width}}</p>
                        <p class="h6 m-0 me-md-4">Altura {{carItem.product.product_height}}</p>
                        <p class="h6 m-0 me-md-4">R$ {{carItem.product.product_price}}</p>
                    
                    </div>
                    <div class="delete-item-pc h-50 d-flex">
                        <button type="button" class="btn btn-outline-secondary ms-3 ps-3 pe-3 align-self-end " data-bs-toggle="modal" data-bs-target="#modalDeleteItem{{ carItem.pk }}">Excluir</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalDeleteItem{{ carItem.pk }}" tabindex="-1" aria-labelledby="modalDeleteItem{{ carItem.pk }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Excluir</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form action="{% url "cart_delete" carItem.pk%}" method="post" id="form-delete{{ carItem.pk }}">
                        {% csrf_token %}
                        <p>Deseja deletear o produto:  <strong>"{{ carItem.product.product_name }}"</strong> </p>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" form-id="form-delete{{ carItem.pk }}" id="button-delete-product" class="btn btn-primary button-delete-product">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock content %}
