{% extends "base.html" %}

{% block nav %}
    {% include "components/nav.html" %}
    {% include "components/search_input.html" %}
{% endblock nav %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{message.tags}} text-center container-fluid">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% if product_list %}
        <div class="container mt-3 container-products justify-content-center">
            {% for product in object_list %}
                <div class="cover-product w-100 rounded m-1 overflow-hidden position-relative text-center d-flex flex-column">
                    {% if product.images.first %}
                        <a href="{% url "products:detail" product.pk%}" class="w-100 h-100"><img class="w-100 h-100" src="{{ product.images.first.images.url }}" alt="{{product.product_name}}"></a>
                    {% endif %}
                    <div class="w-100 position-absolute background-title-product title-product-position">
                        <p class="text-white">{{ product.product_name }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include "components/pagination.html" %}
    {% else %}
        <div class="container text-center mt-4">
            <h2>Nenhum item corresponde a sua busca!</h2>
        </div>
    {% endif %}

{% endblock content %}