{% load static %}
<div class="w-100 h-75 nav-container d-flex justify-content-between position-relative ">
    <div class=" ms-4 d-flex justify-content-start align-items-center w-75 d-xxl-none">

        <div class="logo rounded"><a href={% url "products:list" %} class="w-100 h-100 d-flex"></a></div>
        <div class="d-flex flex-column text-white ms-2 text-center fs-4">
            <p>AlphaDevs</p>
            <p>3D</p>
        </div>
    </div>

    <div class="justify-content-center align-items-center w-100 d-none d-xxl-flex">

        <div class="logo rounded"><a href={% url "products:list" %} class="w-100 h-100 d-flex"></a></div>
        <div class="d-flex flex-column text-white ms-2 text-center fs-4">
            <p>AlphaDevs 3D</p>
        </div>
    </div>

    
    <div class="d-flex justify-content-center align-items-center pe-3 d-xxl-none">
        <div class="nav">
            <i class="bi bi-list rem-4 text-white" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>
    
            <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header nav-side-menu ">
                    <div class="w-100 d-flex align-items-center">
                        <div class="logo rounded"><a href={% url "products:list" %} class="w-100 h-100 d-flex"></a></div>
                        <div class="d-flex flex-column text-black ms-2 text-center fs-4">
                            <p>AlphaDevs</p>
                            <p>3D</p>
                        </div>
                    </div>

                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body overflow-hidden">
                    <div class="container m-2 w-100">
                        <a href={% url "products:list" %}>
                            <i class="bi bi-house fs-1">
                                <p class="inline-flex  ps-2 fs-2">Home</p>
                            </i>
                        </a>
                    </div>
                    <div class="container m-2">
                        <a href="">
                            <i class="bi bi-cart3 fs-1">
                                <p class="inline-flex  ps-2 fs-2">Carrinho</p>
                            </i>
                        </a>
                    </div>

                    <div class="account d-flex align-items-end">
                        <div class="container m-2 w-100">
                            {% if user.is_authenticated %}
                                <i class="bi bi-person-circle fs-1"></i>
                                <p class="inline-flex  ps-2 fs-1">{{user.username}}</p>
                            {% else %}
                                <div class="w-100 d-flex align-item-center tag-login" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="bi bi-person-circle fs-1" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                                    <p class="inline-flex  ps-2 fs-1 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Entrar
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="overflow-auto overflow-visible">
    <ul class="nav nav-tabs nav-category d-flex flex-nowrap justify-content-xxl-center align-items-center">
        {% for category in categories %}
            <li class="nav-item hover-category">
                <form method="get" action="{% url 'products:list' %}" class="nav-link text-white category-form">
                    <input type="hidden" name="category" value="{{ category }}">
                    {{ category|title }}
                </form>
            </li>
        {% endfor %}
        <div class="btn-group dropend d-none d-xxl-flex position-absolute">
            <button type="button" class="btn text-white dropdown-toggle m-0 p-0 b-0 d-flex align-item-center justify-content-center fs-3 mb-1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle "></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url "account:register" %}">Registrar-se</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" href="{% url "account:login" %}">Entrar</a></li>
            </ul>
          </div>
    </ul>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center w-100 display-4" id="exampleModalLabel">Entrar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <form action="{% url "account:login" %}" method="post" class="d-flex justify-content-center align-items-center flex-column">
            {% csrf_token %}
            <div class="form-floating mb-3 w-100">
                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
                <label for="floatingInput">Usuario</label>
              </div>
              <div class="form-floating w-100">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Senha</label>
              </div>
              <button type="submit" class="btn btn-primary mt-4 w-75">Entrar</button>
          </form>
          <p class="mt-4">ainda não tem uma conta ? <a href="{% url "account:register" %}" class="link-login">Registre-se</a></p>
        </div>
      </div>
    </div>
  </div>